<div id="demo" >    
    <form name="nabform" class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend>Tareas</legend>
            <!-- Text input-->
            <div class="form-group" ng-class="{ 'has-error': nabform.id.$invalid }">
                <label class="col-md-4 control-label" for="id">Id Tarea</label>  
                <div class="col-md-4">
                    <input id="id" name="id" ng-model="vm.tarea.id" placeholder="Se asignará automáticamente" class="form-control input-md" ng-disabled="true" type="text" />
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group" ng-class="{ 'has-error': nabform.title.$invalid }">
                <label class="col-md-4 control-label" for="title">Titulo</label>  
                <div class="col-md-4">
                    <input id="title" name="title" ng-model="vm.tarea.titulo" placeholder="¿Qué debes hacer?" class="form-control input-md" required="" type="text" />
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group" ng-class="{ 'has-error': nabform.body.$invalid }">
                <label class="col-md-4 control-label" for="body">Descripción</label>
                <div class="col-md-4">                     
                    <textarea class="form-control" id="body" name="body" ng-model="vm.tarea.descripcion" required="">Describe tu tarea</textarea>
                </div>
            </div>

            <!-- Checkbox -->
            <div class="form-group">
                <center>
                    <label><input type="checkbox" ng-model="vm.tarea.finalizada" ng-value="vm.tarea.finalizada">Finalizada</label>                        
                </center>
            </div>

            <!-- Datetime picker -->
            <div class="form-group" ng-class="{ 'has-error': nabform.body.$invalid }">
                <center><label>Fecha</label><br/></center>
                <div class="col-xs-6">
                    <input 
                        type="text" 
                        class="form-control pull-right" 
                        placeholder="Fecha y Hora límite" 
                        uib-datepicker-popup="dd/MM/yyyy" 
                        ng-model="vm.tarea.fechaLimite" 
                        is-open="vm.opened"
                        datepicker-options="vm.dateOptions"
                        ng-required="true" 
                        close-text="CERRAR" 
                        current-text="HOY" 
                        clear-text="LIMPIAR"
                        ng-click="vm.open($event)"
                        style="max-width: 225px"/>
                </div>
                <div
                    class="col-xs-6"
                    uib-timepicker
                    ng-model="vm.tarea.fechaLimite"
                    show-spinners="false"
                    hour-step="1"
                    minute-step="5"
                    second-step="5"
                    show-seconds="true"
                    show-meridian="true">
                </div>
            </div>

            <!-- Select -->
            <div class="form-group" ng-class="{ 'has-error': nabform.body.$invalid }">
                <label class="col-md-4 control-label" for="categoria">Categoria</label>
                <div class="col-md-4">
                    <select ng-model="vm.tarea.categoria.id" ng-options="item.id as item.nombre for item in vm.categorias" id="categoria" name="categoria" required=""></select>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ok"></label>
                <div class="col-md-8">
                    <a class="btn btn-success" ng-click="vm.crearCategoria()"  ng-if="!vm.estaCreandoCategoria">Crear nueva categoría</a>
                    <button id="ok" name="ok" class="btn btn-success" ng-click="vm.save()" ng-disabled="nabform.$invalid">Guardar</button>
                    <button id="cancel" name="cancel" class="btn btn-default" ng-click="vm.cancel()">Cancelar</button>
                    <button ng-if="vm.tarea.id" id="delete" name="delete" class="btn btn-danger" ng-click="vm.delete()">Eliminar</button>                                    </div>
            </div>
        </fieldset>
    </form>
    <form name="nabform2" class="form-horizontal">
        <fieldset ng-if="vm.estaCreandoCategoria">
            <!-- Text input-->
            <div class="form-group" ng-class="{ 'has-error': nabform2.id.$invalid }">
                <label class="col-md-4 control-label" for="id">Id</label>  
                <div class="col-md-4">
                    <input id="id" name="id" ng-model="vm.categoria.id" placeholder="13" class="form-control input-md" ng-disabled="true" type="text" />
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group" ng-class="{ 'has-error': nabform2.title.$invalid }">
                <label class="col-md-4 control-label" for="nombre">Nombre</label>  
                <div class="col-md-4">
                    <input id="nombre" name="nombre" ng-model="vm.categoria.nombre" placeholder="Nombre de la Categoría" class="form-control input-md" required="" type="text" />

                </div>
            </div>
            
            <!-- Textarea -->
            <div class="form-group" ng-class="{ 'has-error': nabform2.body.$invalid }">
                <label class="col-md-4 control-label" for="body">Descripción</label>
                <div class="col-md-4">                     
                    <textarea class="form-control" id="body" name="body" ng-model="vm.categoria.descripcion" required="">Descripción de la categoría</textarea>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ok"></label>
                <div class="col-md-8">
                    <button id="ok" name="ok" class="btn btn-success" ng-click="vm.guardarC()" ng-disabled="nabform2.$invalid">Guardar</button>
                    <button id="cancel" name="cancel" class="btn btn-default" ng-click="vm.cancelC()">Cancelar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>