<div id="demo">
    <!-- Button (Double) -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="ok"></label>
        <div class="col-md-8">
            <button id="ok" name="ok" class="btn btn-success" ng-click="vm.search()">Buscar</button>
            <a id="new" ui-sref="public.tareas.new" class="btn btn-primary">
                Nueva Tarea
            </a>
        </div>
    </div>
    <hr />
    <div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Fecha y Hora Límite</th>
                <th>Estado</th>
                <th>Categoria</th>
            </tr>
            <tr ng-repeat="p in vm.tareas">
            	<td> <a ui-sref="public.tareas.edit({ id: p.id })">Editar {{p.id}}</a></td>
                <td>{{p.titulo}}</td>
                <td>{{p.descripcion}}</td>
                <td>{{p.fechaLimite | date:'dd-MM-yyyy HH:mm' }}</td>
                <td>{{vm.evaluateState(p.finalizada)}}</td>
                <td>{{p.categoria.nombre}}</td>
            </tr>
        </table>
    </div> 
</div>